<h1>TARGOBANK Payment Integration</h1>
<form id="targobankForm" method="POST" action="https://www.targobank.de/de/app/indirectloanrequest.html">
    <input type="hidden" name="koop_id" value="804625">
    <input type="hidden" name="sessionID" value="abc123">
    <input type="hidden" name="amount" value="499.99">
    <input type="hidden" name="dealerID" value="804625">
    <input type="hidden" name="dealerText" value="https://www.yourshop.com/targobank-response">
    <input type="hidden" name="documentno" value="order123">
    <input type="hidden" name="hash" value="{{ hash }}">
</form>